.button2
{
-fx-background-color : #127475;
-fx-background-radius :  20;
}
.button2:hover
{
-fx-background-color : #F5DFBB ;
-fx-background-radius :  20;
}
.button2:pressed
{
-fx-background-color : #127475 ;
-fx-background-radius :  20;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-text-fill: #f5dfbb;
}
